* {
	font-family : "Meiryo, ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: black;
	font-size: 16px;
}

html, body {
	width: 100%;
	height: 100%;
}
body a:hover {
	text-decoration: none;
}

p {
	margin: 0;
}

ul, label {
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
	margin-bottom: 30px;
}

.vertical {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.vertical .vertical-bottom {
	display: table-cell;
	vertical-align: bottom;
}

.vertical .vertical-top {
	display: table-cell;
	vertical-align: top;
}
.vertical .vertical-midle {
	display: table-cell;
	vertical-align: middle;
}

.group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.item-vertical {
	display: block;
	float: none;
	line-height: 1.42857143;
}


.bg-stripe {
	background: repeating-linear-gradient(-45deg, #000, #000 3px, #505050 4px, #505050
		6px), transparent 50%;
}

.bg-form-stripe {
	background: repeating-linear-gradient(-45deg, #fce853, #fce853 3px, #fedf08 4px,
		#fedf08 6px), transparent 50%;
}

.bg1 {
	background: rgba(40,40,40,1);
	background: -moz-linear-gradient(left, rgba(40,40,40,1) 0%, rgba(107,107,107,1) 50%, rgba(40,40,40,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(40,40,40,1)), color-stop(50%, rgba(107,107,107,1)), color-stop(100%, rgba(40,40,40,1)));
	background: -webkit-linear-gradient(left, rgba(40,40,40,1) 0%, rgba(107,107,107,1) 50%, rgba(40,40,40,1) 100%);
	background: -o-linear-gradient(left, rgba(40,40,40,1) 0%, rgba(107,107,107,1) 50%, rgba(40,40,40,1) 100%);
	background: -ms-linear-gradient(left, rgba(40,40,40,1) 0%, rgba(107,107,107,1) 50%, rgba(40,40,40,1) 100%);
	background: linear-gradient(to right, rgba(40,40,40,1) 0%, rgba(107,107,107,1) 50%, rgba(40,40,40,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#282828', GradientType=1 );
}

.bg2 {
	background-color: #aa934f;
}

.bg3 {
	background-color: rgba(237, 237, 237, 0.46);
/* 	#ededed */
}

.bg4 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353535+0,424242+50,353535+100 */
	background: #353535; /* Old browsers */
	background: -moz-linear-gradient(top,  #353535 0%, #424242 50%, #353535 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #353535 0%,#424242 50%,#353535 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #353535 0%,#424242 50%,#353535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#353535',GradientType=0 ); /* IE6-9 */

}

.bg5 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,e1e1e1+47,8b8b8b+100 */
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(left,  #ededed 0%, #e1e1e1 47%, #8b8b8b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ededed 0%,#e1e1e1 47%,#8b8b8b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ededed 0%,#e1e1e1 47%,#8b8b8b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#8b8b8b',GradientType=1 ); /* IE6-9 */
}
.title {
	font-size: 32px;
	font-weight: bold;
	padding: 0px 30px;
	text-align: center;
	border-bottom: 1px solid black;
}
.fz10 {
	font-size: 10px;
}
.fz12 {
	font-size: 12px;
}
.fz14 {
	font-size: 14px;
}
.fz16 {
	font-size: 16px;
}
.fz18 {
	font-size: 18px;
}
.fz24 {
	font-size: 24px;
}

.fz30 {
	font-size: 30px;
}
.fz35 {
	font-size: 35px;
}
.fz40 {
	font-size: 40px;
}
.fz45 {
	font-size: 45px;
}

.fz50 {
	font-size: 50px;
}
.fz60 {
	font-size: 60px;
}
.fwbld {
	font-weight: bold;
}

.color-1 {
	color: white;
}

.color-2 {
	color: black;
}

.color-3 {
	color: #df0225;
}

.row {
	margin: 0;
	padding: 0;
}

.underline-white {
	border-bottom: 1px solid white;
}
.padding-0 {
	padding: 0;
}
.padding-1 {
	padding: 10px 5px;
}
.padding-2 {
	padding: 20px 5px;
}


[class*=col-cust] {
	position: relative;
    min-height: 1px;
    height: 100%;
}
/************************header*******************************/
#header {
	position: relative;
	height: 118px;
	line-height: 118px;
	text-align: center;
}

#header img {
	margin: auto;
	height: 80px;
}
#content1, #content2, #content3, #content4 {
	padding-left: 40px;
}
#content1 {
	position: relative;
	padding-top: 25px;
	height: 810px;
	background: url("../images/002.png") no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-position: center top;
}

.text1 {
	width: 45%;
	text-align: center;
}

.text2 {
	text-align: left;
}

.text3 {
	width: 320px;
	text-align: left;
}
.text3>span {
	border-bottom: 2px solid white;
}
.block-bottom {
	position: relative;
	top: 300px;
	text-align: right;
	padding-right: 65px;
	padding-left: 30px;
	width: 100%;
	direction: rtl;
}


#content2 {
	padding: 75px 10px;

}
.content2-group-text {
	padding: 40px 10px;
}

#content3 {
	position: relative;
	height: auto;
	padding: 85px 40px;
	background: url("../images/003.png") no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-position: center top;
}

#content3 img:not(.btn-cance) {
	width: 100%;
}

#content3 .col-md-4 {
	padding-left: 5px;
	padding-right: 5px;
}
.btn-cance {
	height: 60px;
	width: 60px;
	position: absolute;
	right: -30px;
	top: calc(50% - 30px);
	z-index: 2;
}

#content4 {
	position: relative;
	height: 280px;
}
#content4 div.col-cust-right {
	width: 375px;
}
#content4 div.col-cust-left {
	width: calc(100% - 380px);
	height: 100%;
	margin-right: 5px;
}

#content4 div.col-cust-left p {
	margin-bottom: 5px;
	margin-bottom: 5px;
}
.content4-img {
	width: auto;
	height: 100%;
}


#content5 {
	height: 215px;
}

#content5 div.col-cust-left {
	width: 435px;
	margin-right: 5px;
}
#content5 div.col-cust-right {
	width: calc(100% - 440px);
	height: 100%;
	padding-right: 40px;
}

.content5-img {
	width: auto;
	height: 100%;
}


#content6 {
	height: 730px;
}

#content7 {
	height: 575px;
}

#content6 .col-cust-left {
	width: 40%;
}
#content6 .col-cust-right {
	width: 60%;
}
#content7 .col-cust-left {
	width: 40%;
}
#content7 .col-cust-right {
	width: 60%;
}
.content6-img, .content7-img {
	height: 100%;
	width: 100%;
}


#content8 {
	position: relative;
	height: auto;
	padding: 55px 40px;
	background: url("../images/015.png") no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-position: center top;
}

#content8 .row-img {
	margin-top: 55px;
	margin-bottom: 55px;
}

#content8 .row-img img {
	max-width: 100%;
}
#content9 {
	height: 400px;
	padding-left: 40px;
}

#content9 .col-cust-left {
	width: 65%;
}
#content9 .col-cust-center {
	width: 17%;
	padding: 0 10px;
}
#content9 .col-cust-right {
	width: 18%;
	padding-left: 15px;
}

#content9 img {
	width: 100%;
	max-height: 100%;
}

#content10 {
	height: 1400px;
	position: relative;
	padding-right: 40px;
	background: url("../images/018.png") no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-position: center top;
}

#content11 {
	height: 1500px;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	background: url("../images/021.png") no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-position: center top;
}

#content11 .box-content {
	width: 70%;
	margin: auto;
}

#content11 .sub-tile {
	margin-top: 50px;
	margin-bottom: 50px;
}
#content11 input.form-control {
	height: 65px;
	background-color: #e5e5e5;
	margin-bottom: 10px;
	border-radius: 0;
}

textarea.form-control {
    height: auto;
    background-color: #e5e5e5;
	border-radius: 0;
}
#content11 .panel {
	width: 50%;
	margin: 80px auto;
}

#content11 .panel .panel-heading {
	height: 70px;
	background-color: black;
	color: white;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}

#content11 .panel .panel-body {
	text-align: center;

}
.copyright {
	padding: 60px 0px;
}


/****************************media************************************/


@media screen and (max-width: 959px) {
	#content3 {
		height: auto;
	}

	#content3 img:not(.btn-cance) {
		width: 100%;
		max-width: 385px;
	}

	.btn-cance {
		height: 60px;
		position: absolute;
		left: calc(50% - 30px);
		bottom: -30px;
		top: auto;
		right: auto;
		z-index: 2;
		width: 60px!important;
	}
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 560px) {

}

@media screen and (max-width: 480px) {

}


@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {

}
