* {
	font-family :  "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", "Meiryo, ヒラギノ角ゴ Pro W3", Osaka, Arial Black Regular, sans-serif;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
}

html {
/* 	max-height: 9000px */
}
body a:hover {
	text-decoration: none;
}

p {
	margin: 0;
}

ul, label {
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
	font-size: 30px;
}
h2 {
	text-align: center;
	margin-bottom: 30px;
}
.vertical {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.vertical .vertical-mid {
	display: table-cell;
	vertical-align: middle;
}
.group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.item-vertical {
	display: block;
	float: none;
	line-height: 1.42857143;
}

.bg-stripe {
	background: repeating-linear-gradient(-45deg, #000, #000 3px, #505050 4px, #505050
		6px), transparent 50%;
}

.bg-form-stripe {
	background: repeating-linear-gradient(-45deg, #fce853, #fce853 3px, #fedf08 4px,
		#fedf08 6px), transparent 50%;
}
ul.list-group,
ul.list-group>li {
	background-color: transparent;
	border: none;
	text-align: center;
}
.row {
	margin: 0;
}

ul.list-square {
	list-style: square;
}
ul.list-style-none {
	list-style: none;
}

/*******************header*********************************/
body {
	background-color: #f2f2f2;
}
body>div.row {
	margin: 0;
	padding: 0;
}
#logo {
	height: 190px;
	background-image: url("../images/image1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#content1 {
	position: relative;
	overflow:hidden;
	height: 1625px;

}

#content1 .block1 {
	height: 690px;
	position: relative;
	overflow: hidden;
	background-color: #0a0a0a; /* Old browsers */
	background-color: -moz-linear-gradient(top, #0a0a0a 0%, #545454 100%); /* FF3.6-15 */
	background-color: -webkit-linear-gradient(top, #0a0a0a 0%,#545454 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: linear-gradient(to bottom, #0a0a0a 0%,#545454 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#545454',GradientType=0 ); /* IE6-9 */

	background-image: url("../images/image2.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;

}
#content1 .block1 .title1 {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	font-size: 66px;
	color: white;
	z-index: 2;
}
#content1 .block1>img {
	position: absolute;
	bottom: 90px;
	width: 75%;
	left: 40px;
	z-index: 1;
/* 	top: 200px; */
}

#content1 .block1 .note {
    position: absolute;
    right: -214px;
    bottom: -38px;
    width: 724px;
    height: 220px;
    background-color: rgba(34, 34, 34, 0.83);
    color: #e2c96e;
    font-size: 36px;
    text-align: center;
    transform: rotate(-20deg);
    padding-top: 22px;
    padding-left: 50px;
}
#content1 .block2 {
	height: 935px;
	background-image: url("../images/image4.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
/* 	background-color: #6e6f71; */
}

#content1 .box-diagonal {
	position: absolute;
	height: 200px;
	width: 100%;
/* 	background-color: fuchsia; */
	top: 500px;
	overflow:hidden;
}
#content1 .bg-diagonal {
	position: absolute;
	height:200px;
	width: 120%;
	background-color: #6d6e70;
	transform: rotate(6deg);
	transform-origin: 50% 50%;
    top: 125px;
    left: -50px;
}

#content1 ul.list-style-red {
	list-style: square;
}

#content1 ul.list-style-red {
	padding-left: 15%;
}
#content1 ul.list-style-red>li {
	color: red;
	text-align: left;
}
#content1 ul.list-style-red>li>span {
	color: white;
}

#content1 .block2>div.row:nth-child(2) {
	height: 440px;
	margin: 0;
}
#content1 .block2>div.row:nth-child(2)>div {
	height: 100%;
	padding: 0 20px;
}
#content1 .block2>div.row:nth-child(2)>div>div {
	height: 100%;
	border-radius: 8px;
	background-color: rgba(211, 213, 212, 0.71);
	position: relative;
	padding: 0;
	border: none;
}
#content1 .block2>div.row:nth-child(2)>div>div>img {
	margin-top: 30px;
}
#content1 .block2>div.row:nth-child(2) .thumbnail .title {
	position: absolute;
	top: 40px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	color: white;
	font-size: 2vw;
	text-align: center;
}
.thumbnail-mid {
	height: 35%;
	text-align: center;
	color: #b31931;
	font-size: 33px;
	padding-left: 30px;
	padding-right: 30px;
}
.system-box .title-system {
	padding-left: 5%;
	padding-right: 5%;
}
.system-box .title-system ul.list-style-none {
	padding-left: 10%;
}
.system-box  ul.list-style-none {
	text-align: left;
}
#content2 {
	position: relative;
	overflow:hidden;
	height: 4580px;
}
.system {
	color: white;
	font-size: 60px;
	font-weight: bold;
}
.split {
	border-bottom: 2px solid #b2b2b2!important;
}

#content1 .block2 ul {
	color: white;
}
#content1 .block2 ul>li:nth-child(2) >div {
	padding-left: 10px;
	padding-right: 0;
	color: white;
	font-size: 20px;
}
.thumbnail ul.list-style-none {
	margin-left: 15px;
	margin-right: 15px;
}
.thumbnail ul.list-style-none>li {
	color: black;
	font-size: 18px;
}

#content2 .block1 {
	position: relative;
	height: 1150px;
	background-image: url("../images/image81.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	background-color: #d9d9d9;
}
#content2 .block2 {
	height: 1560px;
	background-image: url("../images/image10.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	background-color: #646464;
}


#content2 .block1 .box-diagonal {
	position: absolute;
	height: 45%;
	width: 100%;
/* 	background-color: fuchsia; */
/* 	top: 500px; */
	bottom:0;
	overflow:hidden;
}
#content2 .block1 .bg-diagonal {
	position: absolute;
	height:100%;
	width: 120%;
	background-color: #646464;
    transform: rotate(-15deg);
    transform-origin: 50% 50%;
    top: 157px;
/*     left: -50px; */
}

#content2 h1 {
	text-align: center;
	font-size: 40px;
	color: #3a3a3a;
	font-weight: bold;
	margin-top: 50px;

}

.underline {
	padding: 10px 50px;
	border-bottom: 2px solid #2e2e2e;
}
.promise-content {
	margin-top: 100px;
	width: 60%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(229, 229, 229, 0.66);
	border-radius: 8px;

}
.promise-content p {
	padding: 15px 30px;
	font-size: 25px;
	font-weight: bold;
}
.pomise-p1 span{
	color: #b3032a;
}
.pomise-p2 span {
	display: block;
}
.pomise-p2 span.promise-mid {
	color: #b3032a;
	font-size: 45px;
}

.tile-why {
	position: relative;
	margin-top: 25%;
	color: white;
}

.tile-why h1 span {
	color: white;
	padding: 0 10%;
}

.tile-why h3 {
	text-align: center;
}
.why-content {
	position: relative;
}
.why-content .why-bottom {
	width: 100%;
	position: absolute;
	bottom: 5%;
	height: 30%;
}
.why-content .why-bottom>ul {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
}
.why-content .why-bottom>ul>li {
	color: white;
	padding: 5px 0;
}
.color-red {
	color: #ae0421;
}
.why2 {
	margin-top: 30px;
	color: white;
	font-size: 25px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
/* 	padding: 10px; */
	font-weight: bold;
}

.why3 {
	font-size: 60px;
	margin-left: 30%;
	padding: 20px;
	font-weight: bold;
}



#content2 .block3 {
	height: 720px;
	background-image: url("../images/image11.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #f2f2f2;
	transform: skewY(4deg);
    position: relative;
    top: -58px;
}

#content2 .block4 {
	height: 1200px;
	background-image: url("../images/image12.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #f2f2f2;
    position: relative;
    top: -180px;
    transform: skewY(-2deg);
    transform-origin: left bottom;
}


#content3 {
	height: 2660px;
}
#content3 .block1 {
	height: 935px;
	background-color: #f2f2f2;
	background-image: url("../images/image17.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: inherit;
	position: relative;
    top: -197px;
}
#content3 .block2 {
	height: 1725px;
/* 	background-color: #f2f2f2; */
	background-image: url("../images/image18.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	position: relative;
    top: -280px;
    transform: perspective(1300px) skewY(3deg);
    transform-origin: 0% 100%;
}




#content4 {
	height: 922px;
	position: relative;
    top: -280px;
    background-color: #f2f2f2;
}

#content4 .block1 {
	height: 1213px;
	background-image: url("../images/image20.jpg");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: cover;
	position: relative;
/*     top: 280px; */
}
.caution-content {
	position: relative;
	transform: skewY(-4deg);
}
.caution {
    font-weight: bold;
    font-size: 40px;
    color: white;
	background-color: rgba(45, 45, 45, 0.89);
	text-align: center;
	position: relative;
	top: 80px;
}

.text-block-caution {
	padding-left: 20%;
	padding-right: 15px;
	position: relative;
	top: 220px;
	font-size: 20px;
	font-weight: bold;
}

.fz21 {
	font-size: 21px;
}
.fz25 {
	font-size: 25px;
}
.fz51 {
	font-size: 51px!important;
}


.flow {
	transform: skewY(2deg);
	position: relative;
	height: 100%;
}

.flow-top {
	position: relative;
    top: 180px;
    padding-left: 50px;
}
.flow-top, .flow-left {
	display: inline-block;
}
.flow-left {
	position: relative;
	color: white;
	font-size: 30px;
	font-weight: bold;
	height: 300px;
	padding: 20px;
	word-break: break-word;
    max-width: 250px;
}
.flow-left:BEFORE {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50%;
	width: 50%;
	border-left: 2px solid white;
	border-bottom: 2px solid white;

}
.flow-left:AFTER {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	height: 50%;
	width: 50%;
	border-top: 2px solid white;
	border-right: 2px solid white;

}
.flow-img ,
.flow-img >div{
	position: relative;
}
.step {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: white;
	display: inline-block;
	position: absolute;
	top: calc(50% - 65px);
	right: -65px;
	font-size: 30px;
	font-weight: bold;
}
.flow-bottom {
/* 	height: 600px; */
	width: calc(100% - 60px);
	margin: auto;
	background-color: rgba(0, 0, 0, 0.75);
	position: relative;
	top: 235px;
	padding-bottom: 15px;
}
.flow-bottom>div:first-child>div {
	text-align: center;
}
.flow-bottom img {
	height: 350px;
	margin-top: 15px;
	width: 100%;
	height: 100%;
}
.flow-bottom>div>div>div.row:not(:first-child) {
	color: white;
/* 	font-weight: bold; */
	font-size: 18px;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 5px;
}
.flow-bottom>div>div>div.row:first-child {
	margin-bottom: 10px;
	position: relative;
}
.another-title {
	position: relative;
	top: 80px;
}
.another-title h1 {
	text-align: center;
	color: #353535;
	font-weight: bold;
	font-size: 60px;
}
.another-title h1>span {
	border-bottom: 2px solid #474747;
}
.another-title h1:last-child {
	padding-top: 20px;
}
.another-text {
	position: relative;
	top: 300px;
	padding-left: 50px;
	width: 50%;
}
.another-text p {
	font-weight: bold;
}
.fz31 {
	font-size: 31px;
}

.fbd {
	font-weight: bold;
}

.contact-skew {
	height: 100%;
	width: 100%;
	transform: skewY(-3deg);
}

.contact-title {
	position: relative;
    top: 40px;
    text-align: center;
}

.contact-title>ul {
	width: 50%;
	margin: auto;
	text-align: left;
	margin-top: 60px;
	padding-left: 7%;
}

.contact-title>ul>li>p{
	color: white;
}
.contact-title h1 {
	color: white;
    font-size: 70px;
    font-weight: bold;
}
.contact-title h1>span {
	padding-left: 20px;
	padding-right: 20px;
}

.fqa-tag {
	color: white;
	background: #333;
	width: 50%;
	line-height: 80px;
	height: 80px;
	position: relative;
	transform: perspective(25px) rotateX(-2deg);
	transform-origin: 0% 50%;
	margin: 10px 10px;
	box-shadow: 8px 8px #772d2a;
	padding-left: 15px;
}

.fqa-text {
	transform: skewX(6deg);
}
.fqa-tag-content {
	padding-left: 15px;
	width: 50%;
}
#content3 form {
	width: 80%;
	margin: auto;
	margin-top: 80px;
}

#content3 input {
	height: 80px;
	margin-bottom: 10px;
	border-radius: 0;
}

#content3 textarea, #content3 input {
	border-radius: 0;
	background-color: #363636;
	border: none;
}

#content3 button  {
	background-color: #7f3131;
	height: 80px;
	line-height: 80px;
	width: calc(100% - 30px);
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

#content3 .panel {
	width: 40%;
	margin: auto;
	border: none;
	margin-top: 50px;
	border: none;
}

#content3 .panel>.panel-heading {
	background-color: #101010;
	border-radius: 0;
	height: 60px;
	line-height: 50px;
	text-align: center;
	color: white;
	border: none;
}
#content3 .panel>.panel-body {
	background-color: #c2c2c4;
	border-radius: 0;
	height: 120px;
	text-align: center;
}
.colorA {
	color: #7e3431;
}
.dt {
	color: #c40200;
	font-size: 4vw;
	font-weight: bold;
}
.contact-bottom {
	color: white;
	text-align: center;
	margin-top: 50px;
}
.contact-bottom>p {
	margin-top: 10px;
}
.contact-bottom>p:last-child {
	margin-top: 50px;
}

#content4 .block1 {
	position: relative;
	overflow: hidden;
}

.fqa-title {
	position: absolute;
	right: 30px;
	top: 20px;
	color: #363636;
	font-weight: bold;
	font-size: 80px;
	background-color: white;
	height: 280px;
	line-height: 280px;
	padding-left: 20px;
	padding-right: 20px;
}
.fqa-content {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 10%;
}
.fqa-content>.row {
	margin-bottom: 15px;
}
.fqa-tag-padding1 {
	position: relative;
	left: 10%;
}
.fqa-tag-padding2 {
	position: relative;
	left: 35%;

}

.fqa-box-text {
	position: absolute;
	width: 50%;
	right: 30px;
	top: 50%;
	background-color: white;
	padding: 20px;
	font-weight: bold;
}
.fqa-box-text .text-mid {
	margin-top: 30px;
	margin-bottom: 30px;
}
.line-bottom {
	position: absolute;
	bottom: 40px;
	right: 30px;
	font-size: 50px;
	font-weight: bold;
}

.step3 {
	vertical-align: top;
	width: 70%;
	margin-left: 10px;
}

.image9 {
    position: absolute;
    right: -15%;
    width: 45%;
    bottom: 5%;
    z-index: 3;
}
/*====================Media===========================================*/
@media screen and (max-width: 1100px) {
	.image9 {
	    position: absolute;
	    right: -15%;
	    width: 45%;
	    bottom: 10%;
	    z-index: 3;
	}
}
@media screen and (max-width: 960px) {
	.image9 {
	    position: absolute;
	    right: -15%;
	    width: 45%;
	    bottom: 20%;
	    z-index: 3;
	}

/*****************reset skew************************/
	#content1 .bg-diagonal {
	    transform: rotate(0deg);
	    transform-origin: 50% 50%;
	}

	#content1 .block1 .note {
	    position: absolute;
	    right: -247px;
	    bottom: -20px;
	}

	#content2 {
	    height: 4721px;
	}
	#content2 .block1 .bg-diagonal {
	    transform: rotate(0deg);
	    transform-origin: 50% 50%;
	}

	#content2 .block3 {
		transform: skewY(0deg);
	    background-position: left;
	}

	.caution-content {
	    position: relative;
	    transform: skewY(0deg);
	}
	.caution-content>div:first-child {
		transform: skewY(-3deg);
	}
	#content2 .block4 {
		height: 2500px;
	    transform: skewY(0deg);
	    transform-origin: left bottom;
	}

	.flow {
	    transform: skewY(0deg);
	    position: relative;
	    height: 100%;
	}

	#content3 .block2 {
	    position: relative;
	    top: -280px;
	    transform: perspective(1300px) skewY(0deg);
	    transform-origin: 0% 100%;
	}

	.contact-skew {
	    height: 100%;
	    width: 100%;
	    transform: skewY(0deg);
	}
	.tile-why {
	    margin-top: 200px;
	}

	#content2 .block2 {
   		height: 1060px;
    }

    #content3 .block1 {
	    background-position: right center;
	    background-size: 40%;
	}

	.another-text {
		top: 21%;
		width: 60%;
		padding-left: 5%;
	}
/*****************end - reset skew************************/
	.no-sa {
		display: block;
	}
	#content1 {
	    height: 2400px;
	}

	#content1 .block2 {
   		height: 1720px;
    }
	#content1 .block1 .title1 {
		font-size: 7vw;
	}

	#content1 .block1>img {
	    position: absolute;
	    width: 85%;
	    left: 7%;
	    z-index: 1;
	    top: 200px;
	}

	.system-box .title-system {
	    padding-left: 15%;
	    padding-right: 15%;
	}

	.system {
	    color: white;
	    font-size: 40px;
	    font-weight: bold;
	}
	.contact-title h1 {
	    color: white;
	    font-size: 40px;
	    font-weight: bold;
	}

	.another-title h1 {
	    font-size: 40px;
	}

	#content1 .block2>div.row:nth-child(2) .thumbnail .title {
	    font-size: 19px;
	}

	#content1 .block2>div.row:nth-child(2)>div {
	    height: 100%;
	    padding: 0 20%;
	}
	.promise-content p {
	    font-size: 20px;
	}
	.why-content .why-bottom>ul {
	    width: 45%;
	    padding-left: 5%;
	}
	.step {
		display: none;
	}

	.step3 {
		vertical-align: top;
		width: 90%;
		margin: 10px auto;
	}

	.flow-left {
	    position: relative;
	    color: white;
	    font-size: 27px;
	    font-weight: bold;
	    height: 250px;
	    padding: 20px;
	    word-break: break-word;
	    max-width: 215px;
	}
	.flow-top {
	    padding-left: 10%;
	}

	.flow-bottom>div>div>div.row:first-child {
		width: 25%;
		margin: auto auto 15px auto;
	}
	.flow-bottom>div:first-child>div {
		margin-bottom: 15px;
	}

	.flow-bottom>div>div>div.row:not(:first-child) {
	    color: white;
	    font-size: 18px;
	    text-align: left;
	    padding-left: 10%;
	    padding-right: 30px;
	    margin-bottom: 5px;
	}

	.contact-title>ul {
	    width: 80%;
	    margin: auto;
	    text-align: left;
	    margin-top: 60px;
	    padding-left: 0;
	}

	#content3 form {
	    width: 100%;
	}
	#content3 .panel {
		width: 80%;
	}

	.dt {
		font-size: 7vw;
	}

	.fqa-title {
	    position: absolute;
	    right: 30px;
	    top: 10px;
	    color: #363636;
	    font-weight: bold;
	    font-size: 80px;
	    background-color: white;
	    height: 200px;
	    line-height: 200px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.fqa-content {
		padding-top: 235px;
	}

	.fqa-tag {
		width: 85%;
	}

	.fqa-tag-padding1,
	.fqa-tag-padding2 {
		left: 0;
	}

	.fqa-box-text {
		top: 55%;
	}

	#content4 {
		height: 1100px;
	}

	#content4 .block1 {
		height: 1379px;
		background-size: contain;
	}

	.fqa-tag-content {
		width: 100%;
	}

	.fqa-box-text {
	    position: absolute;
	    width: 65%;
		right: 15px;
		padding: 10px;

    }

    .promise-content{
    	width: 90%;
    }
}

@media screen and (max-width: 768px) {
	.image9 {
	    position: absolute;
	    right: -15%;
	    width: 45%;
	    bottom: 25%;
	    z-index: 3;
	}
	.promise-content p {
	    font-size: 18px;
	}

	.pomise-p2 span.promise-mid {
	    color: #b3032a;
	    font-size: 40px;
	}

	.why-content .why-bottom>ul {
	    width: 45%;
	    padding-left: 0%;
	}
	#content2 {
	    height: 4400px;
	}
	#content2 .block2 {
	    height: 900px;
	}

	.why-content .why-bottom {
	    width: 100%;
	    position: absolute;
	    bottom: 5%;
	    height: 35%;
	}

	.why2 {
	    width: 55%;
	}

	.why3 {
	    font-size: 50px;
	    margin-left: 20%;
	}
}

@media screen and (max-width: 640px) {
	#content1 .block1 {
	    background-size: cover;
	}
	.tile-why h3 {
		font-size: 18px;
	}

	.why-content .why-bottom>ul {
	    width: 50%;
	}

	.why2 {
		font-size: 20px;
	    width: 60%;
	}

	.why3 {
	    font-size: 40px;
	    margin-left: 15%;
	}

	.text-block-caution {
	    position: relative;
	    top: 180px;
	    font-size: 14px;
	    font-weight: bold;
	}
	.fz25 {
		font-size: 20px;
	}
	.fz21 {
		font-size: 18px;
	}
	.fz31 {
		font-size: 25px;
	}

	.flow-bottom>div>div>div.row:first-child {
		width: 100px;
		margin: auto auto 15px auto;
	}
	.image9 {
	    position: absolute;
	    right: -15%;
	    width: 60%;
	    bottom: 20%;
	    z-index: 3;
	}
}

@media screen and (max-width: 560px) {
	.system-box .title-system {
	    padding-left: 5%;
	    padding-right: 5%;
	}
	.thumbnail-mid {
	    height: 30%;
	    text-align: center;
	    color: #b31931;
	    font-size: 29px;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	#content1 .block2>div.row:nth-child(2)>div {
	    height: 100%;
	    padding: 0 15%;
	}

	.promise-content {
	    margin-top: 100px;
	    width: 85%;
	    height: 45%;
	}

	.why-content .why-bottom>ul {
	    width: 60%;
	}

	.line-bottom {
	    position: absolute;
	    bottom: 10px;
	    right: 30px;
	    font-size: 32px;
	    font-weight: bold;
	}


}

@media screen and (max-width: 460px) {
	#content1 .block2>div.row:nth-child(2)>div {
	    height: 100%;
	    padding: 0 10%;
	}

	.promise-content p {
	    font-size: 14px;
	}

	.pomise-p2 span.promise-mid {
	    color: #b3032a;
	    font-size: 30px;
	}

	.why-content .why-bottom>ul {
	    width: 70%;
	}

	#content2 .block2 {
	    height: 600px;
	}

	#content2 {
	    height: 4000px;
	}
	.why-content .why-bottom {
	    height: 45%;
	}

	.why2 {
		font-size: 20px;
	    width: 85%;
	}

	.why3 {
	    font-size: 30px;
	    margin-left: auto;
	}

	.flow-bottom>div>div>div.row:not(:first-child) {
	    color: white;
	    font-size: 14px;
	}

	.fqa-box-text {
		font-size: 12px;
	}

		.image9 {
	    position: absolute;
	    right: -15%;
	    width: 60%;
	    bottom: 25%;
	    z-index: 3;
	}

}

@media screen and (max-width: 420px) {
	#content1 .block2 ul>li:nth-child(2) >div {
	    font-size: 14px;
	}
	.system-box .title-system ul.list-style-none {
	    padding-left: 5%;
	}

	.tile-why h3 {
		font-size: 14px;
	}

	.why-content .why-bottom>ul {
	    width: 75%;
	}
}

@media screen and (max-width: 360px) {
	.system-box .title-system ul.list-style-none {
	    padding-left: 0%;
	}
	.thumbnail-mid {
	    font-size: 24px;
	}

	.why-content .why-bottom>ul {
	    width: 90%;
	}
}

@media screen and (max-width: 320px) {
}
