* {
	font-family :  "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", "Meiryo, ヒラギノ角ゴ Pro W3", Osaka, Arial Black Regular, sans-serif;
}

html {
/* 	max-height: 9000px */
}
body a:hover {
	text-decoration: none;
}

p {
	margin: 0;
}

ul, label {
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
}
.vertical {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.vertical .vertical-mid {
	display: table-cell;
	vertical-align: middle;
}
.group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.item-vertical {
	display: block;
	float: none;
	line-height: 1.42857143;
}

.bg-stripe {
	background: repeating-linear-gradient(-45deg, #000, #000 3px, #505050 4px, #505050
		6px), transparent 50%;
}

.bg-form-stripe {
	background: repeating-linear-gradient(-45deg, #fce853, #fce853 3px, #fedf08 4px,
		#fedf08 6px), transparent 50%;
}
ul.list-group,
ul.list-group>li {
	background-color: transparent;
	border: none;
	text-align: center;
}
.row {
	margin: 0;
}

ul.list-square {
	list-style: square;
}
ul.list-style-none {
	list-style: none;
}

/*******************header*********************************/
body {
/* 	background-color: #6d6e70; */
}
body>div.row {
	margin: 0;
	padding: 0;
}
#logo {
	height: 190px;
	background-image: url("../images/image1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#content1 {
	position: relative;
	overflow:hidden;
	height: 1625px;

}

#content1 .block1 {
	height: 690px;
	position: relative;
	overflow: hidden;
	background-color: #0a0a0a; /* Old browsers */
	background-color: -moz-linear-gradient(top, #0a0a0a 0%, #545454 100%); /* FF3.6-15 */
	background-color: -webkit-linear-gradient(top, #0a0a0a 0%,#545454 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: linear-gradient(to bottom, #0a0a0a 0%,#545454 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#545454',GradientType=0 ); /* IE6-9 */

	background-image: url("../images/image2.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;

}
#content1 .block1 .title1 {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	font-size: 66px;
	color: white;
	z-index: 2;
}
#content1 .block1>img {
	position: absolute;
	bottom: 90px;
	width: 75%;
	left: 40px;
	z-index: 1;
/* 	top: 200px; */
}

#content1 .block1 .note {
    position: absolute;
    right: -214px;
    bottom: -38px;
    width: 724px;
    height: 220px;
    background-color: rgba(34, 34, 34, 0.83);
    color: #e2c96e;
    font-size: 36px;
    text-align: center;
    transform: rotate(-20deg);
    padding-top: 22px;
    padding-left: 50px;
}
#content1 .block2 {
	height: 935px;
	background-image: url("../images/image4.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
/* 	background-color: #6e6f71; */
}

#content1 .box-diagonal {
	position: absolute;
	height: 200px;
	width: 100%;
/* 	background-color: fuchsia; */
	top: 500px;
	overflow:hidden;
}
#content1 .bg-diagonal {
	position: absolute;
	height:200px;
	width: 120%;
	background-color: #6d6e70;
	transform: rotate(6deg);
	transform-origin: 50% 50%;
    top: 125px;
    left: -50px;
}

#content1 ul.list-style-red {
	list-style: square;
}

#content1 ul.list-style-red {
	padding-left: 15%;
}
#content1 ul.list-style-red>li {
	color: red;
	text-align: left;
}
#content1 ul.list-style-red>li>span {
	color: white;
}

#content1 .block2>div.row:nth-child(2) {
	height: 440px;
	margin: 0;
}
#content1 .block2>div.row:nth-child(2)>div {
	height: 100%;
	padding: 0 20px;
}
#content1 .block2>div.row:nth-child(2)>div>div {
	height: 100%;
	border-radius: 8px;
	background-color: rgba(211, 213, 212, 0.71);
	position: relative;
	padding: 0;
	border: none;
}
#content1 .block2>div.row:nth-child(2)>div>div>img {
	margin-top: 30px;
}
#content1 .block2>div.row:nth-child(2) .thumbnail .title {
	position: absolute;
	top: 40px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	color: white;
	font-size: 30px;
	text-align: center;
}
.thumbnail-mid {
	height: 35%;
	text-align: center;
	color: #b31931;
	font-size: 33px;
}


#content2 {
	position: relative;
	overflow:hidden;
	height: 4580px;
}
.system {
	color: white;
	font-size: 60px;
	font-weight: bold;
}
.split {
	border-bottom: 1px solid #b2b2b2!important;
}

#content1 .block2 ul {
	color: white;
}
#content1 .block2 ul>li:nth-child(2) >div {
	padding-left: 10px;
	padding-right: 0;
	color: white;
	font-size: 20px;
}
.thumbnail ul.list-style-none {
	margin-left: 30px;
}
.thumbnail ul.list-style-none>li {
	color: black;
	font-size: 20px;
}

#content2 .block1 {
	position: relative;
	height: 1150px;
	background-image: url("../images/image81.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	background-color: #d9d9d9;
}
#content2 .block2 {
	height: 1560px;
	background-image: url("../images/image10.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	background-color: #646464;
}


#content2 .block1 .box-diagonal {
	position: absolute;
	height: 45%;
	width: 100%;
/* 	background-color: fuchsia; */
/* 	top: 500px; */
	bottom:0;
	overflow:hidden;
}
#content2 .block1 .bg-diagonal {
	position: absolute;
	height:100%;
	width: 120%;
	background-color: #646464;
    transform: rotate(-15deg);
    transform-origin: 50% 50%;
    top: 157px;
/*     left: -50px; */
}

#content2 h1 {
	text-align: center;
	font-size: 40px;
	color: #3a3a3a;
	font-weight: bold;
	margin-top: 50px;

}

.underline {
	padding: 10px 50px;
	border-bottom: 1px solid #2e2e2e;
}
.promise-content {
	margin-top: 100px;
	width: 60%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(229, 229, 229, 0.66);
	border-radius: 8px;

}
.promise-content p {
	padding: 20px 30px;
	font-size: 20px;
	font-weight: bold;
}
.pomise-p1 span{
	color: #b3032a;
}
.pomise-p2 span {
	display: block;
}
.pomise-p2 span.promise-mid {
	color: #b3032a;
	font-size: 30px;
}

.tile-why {
	position: relative;
	margin-top: 25%;
	color: white;
}

.tile-why h1 span {
	color: white;
	padding: 0 60px;
}

.tile-why h3 {
	text-align: center;
}
.why-content {
	position: relative;
}
.why-content .why-bottom {
	width: 100%;
	position: absolute;
	bottom: 5%;
	height: 30%;
}
.why-content .why-bottom>ul {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
}
.why-content .why-bottom>ul>li {
	color: white;
	padding: 5px 0;
}
.color-red {
	color: #ae0421;
}
.why2 {
	margin-top: 30px;
	color: white;
	font-size: 25px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
/* 	padding: 10px; */
	font-weight: bold;
}

.why3 {
	font-size: 35px;
	margin-left: 30%;
	padding: 20px;
	font-weight: bold;
}



#content2 .block3 {
	height: 720px;
	background-image: url("../images/image11.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #f2f2f2;
	transform: skewY(4deg);
    position: relative;
    top: -58px;
}

#content2 .block4 {
	height: 1200px;
	background-image: url("../images/image12.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #f2f2f2;
    position: relative;
    top: -180px;
    transform: skewY(-2deg);
    transform-origin: left bottom;
}


#content3 {
	height: 2660px;
}
#content3 .block1 {
	height: 935px;
	background-color: #f2f2f2;
	background-image: url("../images/image17.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: inherit;
	position: relative;
    top: -180px;
}
#content3 .block2 {
	height: 1725px;
/* 	background-color: #f2f2f2; */
	background-image: url("../images/image18.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	position: relative;
    top: -280px;
    transform: skewY(3deg);
    transform-origin: left bottom;
}




#content4 {
	height: 1213px;
	position: relative;
    top: -280px;
    background-color: #f2f2f2;
}

#content4 .block1 {
	height: 1213px;
	background-image: url("../images/image20.jpg");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: cover;
	position: relative;
    top: 280px;
}

.caution {
    transform: skewY(-5deg);
    font-weight: bold;
    font-size: 40px;
    color: white;
	background-color: rgba(45, 45, 45, 0.73);
	text-align: center;
	position: relative;
	top: 80px;
}






/*====================Media===========================================*/

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {


}

@media screen and (max-width: 560px) {

}

@media screen and (max-width: 460px) {

}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {

}
